
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Gugi&amp;subset=korean" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&amp;subset=korean" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">

  <!-- <nav class="navbar navbar-expand-lg navbar-SlateGray bg-white fixed-top" id="mainNav" style=" font-size:17px; font-family: 'Noto Sans KR', sans-serif;" >
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" routerLink="/" id="brand" style="font-size:25px;" > 한뮤니티</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <a class="nav-link js-scroll-trigger" href="https://www.hansung.ac.kr/web/www/home">한성대홈</a>
          <a class="nav-link js-scroll-trigger" href="https://www.hansung.ac.kr/web/www/cmty_01_01">공지사항</a>
          <a class="nav-link js-scroll-trigger" href="https://www.facebook.com/hansungluv/">페이스북</a>                     
          <a class="nav-link js-scroll-trigger" href="https://www.hansung.ac.kr/web/www/life_01_01">학사공지</a>                        
          <a class="nav-link js-scroll-trigger" href="https://www.hansung.ac.kr/web/www/cmty_03_01">낙산의메아리</a> 
        </ul>
      </div>
    </div>
  </nav>
   -->
<!-- <footer class="mainfooter"> -->
<div class="maincontainer">
  <button mat-raised-button routerLink="/study">Study</button>
  <button mat-raised-button routerLink="/question">Q&A</button>
  <button mat-raised-button routerLink="/together">Together</button>
  <button mat-raised-button routerLink="/petition">Petition</button> 
</div>
<!-- </footer> -->
  
<header class="masthead text-center text-black d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>WELCOME</strong>
          <h2>한뮤니티는 한성인들의 새로운 커뮤니티 입니다</h2>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">스터디 모임, Q&A, 한성대 청원, 메신저를 이용하여 다른 학생들과 의견을 공유할 수 있습니다.</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/">로그인 화면</a>
      </div>
    </div>
  </div>
</header>

 <!-- <div class="Container">
  <h1>한뮤니티</h1>
  <mat-card-content><ul class="selection" routerLink='/study'>한성스터디</ul></mat-card-content>
  <mat-card-content><ul class="selection" routerLink='/question'>한성지식</ul></mat-card-content>
  <mat-card-content><ul class="selection" routerLink='/together'>한성투게더</ul></mat-card-content>
  <mat-card-content><ul class="selection" routerLink='/petition'>한성청원</ul></mat-card-content>
  <ul class="selection" routerLink='/message'>테스트 페이지</ul>
</div>  -->
