<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="maincontainer">
    <button mat-raised-button routerLink="/home">Home</button>
    <button mat-raised-button routerLink="/study">Study</button>
    <button mat-raised-button routerLink="/question">Q&A</button>
    <button mat-raised-button routerLink="/together">Together</button>
    <button mat-raised-button routerLink="/petition">Petition</button> 
  </div>

  <h1 class="Container">한성청원</h1>
  <div class="writecon">
<div class="noticeBorder">
  <form (submit)="onPetitionSubmit()">
    <div id="inputs">
      <label> 제목 : </label>
      <input type="text" class="form-control" style="text-align:center; width:250px; height:20px; letter-spacing: 2px; margin-left:auto; margin-right:auto; " [(ngModel)]="title" name="title">
    </div>
    <div id="inputs">
      <label> 내용 : </label>
      <input type="textarea" class="form-control" style="text-align:center; width:800px; height:200px; letter-spacing: 2px; margin-left:auto; margin-right;  " [(ngModel)]="content" name="content">
    </div>
    <div id="inputs">
        <label> 목표 청원 수 : </label>
        <select class="form-control" [(ngModel)]="max" name="max">
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
      </div>
    <div id="inputs">
      <button id="bigbutton" type="submit" value="Submit"> 글쓰기 </button>
    </div>
  </form>
  <button mat-button color="primary" class="homebuttom" routerLink="/home">홈으로</button>
</div>
</div>