<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">

<footer class="page-footer">
  <div class="footerb">
    <a href="https://www.hansung.ac.kr/web/www/home"><button mat-raised-button color="DodgerBlue" style=" font-family: 'Do Hyeon', sans-serif;">한성대홈</button></a>
    <a href="https://www.hansung.ac.kr/web/www/cmty_01_01"><button mat-raised-button color="DodgerBlue" style=" font-family: 'Do Hyeon', sans-serif;">공지사항</button></a>
    <a href="https://www.hansung.ac.kr/web/www/cmty_01_03"><button mat-raised-button color="DodgerBlue" style=" font-family: 'Do Hyeon', sans-serif;">학사공지</button></a>
    <a href="https://www.facebook.com/hansungluv/"><button mat-raised-button color="DodgerBlue" style=" font-family: 'Do Hyeon', sans-serif;">페이스북</button></a>
    <a href="https://www.hansung.ac.kr/web/www/cmty_03_01"><button mat-raised-button color="DodgerBlue" style=" font-family: 'Do Hyeon', sans-serif;">낙산메아리</button></a>
  </div>
</footer>